section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 91vh;
  padding: 20px;
  width: 100%;
  overflow-x: hidden;
  /* background: #001923; */
}
/* section::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(#ffeb3b, #e91a63);
  border-radius: 50%;
  transform: translate(-420px, -180px);
}
section::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  background: linear-gradient(#2196f3, #83d8ff);
  border-radius: 50%;
  transform: translate(400px, 100px);
} */
.contacts {
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(25px);
}
.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
  transform: skewX(-15deg);
}
.contacts h2 {
  width: 100%;
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}
.row-100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 20px;
}
.inputBox {
  position: relative;
  width: 100%;
  height: 40px;
}
.inputBox input,
.inputBox textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}
.text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.inputBox input:focus + .text,
.inputBox input:valid + .text,
.inputBox textarea:focus + .text,
.inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}
.line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.inputBox input:focus ~ .line,
.inputBox input:valid ~ .line {
  background-color: #e5e4e2;
  border-radius: 10px;
  height: 100%;
}
.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
.inputBox textarea:focus ~ .line,
.inputBox textarea:valid ~ .line {
  background-color: #e5e4e2;
  border-radius: 10px;
  height: 100%;
}

.col input[type="submit"] {
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  outline: none;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  border-radius: 2px;
  transition: all 0.2s ease-in;
}
.col input[type="submit"]:hover {
  scale: 1.1;
}
.col input[type="submit"]:active {
  scale: 0.9;
}

@media screen and (max-width: 768px) {
  section::before {
    width: 0%;
  }
  section::after {
    width: 0;
  }
  .contacts {
    padding: 20px;
  }
  .contacts h2 {
    font-size: 28px;
  }
}
